.links-content {
      width: 20%;
      background-color: #fdfdfd;
      padding: 30px;
      padding-top: 10px;
}
.links-content h2 ~ div ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style-type: none;
      padding: 10px;
      margin: 0;
      margin-top: 20px;
      flex-wrap: wrap;
      text-decoration: none;
      width: 90%;
}
.links-content h2 ~ div ul li img {
      position: absolute;
      margin: 0;
      padding: 0;
}
.links-content h2 ~ div ul li {
      width: 80%;
      background-color: dodgerblue;
      padding: 10px;
      margin: 20px;
      font-size: 1.05em;
      border-radius: 20px;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
}